{% extends 'base.html' %}
{% block content %}
  {% include 'includes/_navbar.html' %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" style="margin: 0;">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="login-bg">
    <div class="container text-center wrapper">
      <h3>Zaloguj się do swojego konta</h3>
      <form method="POST" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
          {{ error|safe }}
        {% endif %}
        <button type="submit" class="btn btn-success my-2">Zaloguj się</button>
      </form>
      <p><a href="{% url 'password_reset' %}">Nie pamiętam hasła</a></p>
      <p>Jeśli nie posiadasz jeszcze konta to <a href="{% url 'register' %}">zarejestruj się</a>.</p>
    </div>
  </div>
{% endblock %}