{% extends 'base.html' %}
{% block content %}
  {% include 'includes/_navbar.html' %}
  <div class="login-bg">
    <div class="container text-center wrapper">
      <h3>Zresetuj hasło</h3>
      <form method="POST" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
          {{ error|safe }}
        {% endif %}
        <button type="submit" class="btn btn-success my-2">Zmień hasło</button>
      </form>
    </div>
  </div>
  <script>
    const helptext = Array.from(document.querySelectorAll('.helptext'));
    const newPassword1 = document.getElementById('id_new_password1');
    const confirmNewPassword = document.getElementById('id_new_password2');

    newPassword1.classList.add('form-control')
    confirmNewPassword.classList.add('form-control')

    const passwordTerms = document.querySelector('.form-signin ul')
    passwordTerms.style.display = 'none';
  </script>
{% endblock %}