{% extends 'base.html' %}
{% block content %}
  {% include 'includes/_navbar.html' %}
  <div class="login-bg">
    <div class="container text-center wrapper">
      <h3>Zresetuj hasło</h3>
      <form method="POST" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
          {{ error|safe }}
        {% endif %}
        <button type="submit" class="btn btn-success my-2">Zmień hasło</button>
      </form>
    </div>
  </div>
  <script>
    const input = document.querySelector('#id_email')
    input.classList.add('form-control')
  </script>
{% endblock %}