{% extends 'base.html' %}
{% block content %}
{% include 'includes/_navbar.html' %}
  <div class="container mt-4">
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br />
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      {% if error %}
        {{ error|safe }}
      {% endif %}
      <br /><br />
      <button type="submit" class="btn btn-success">Zarejestruj się</button>
    </form>
    <br />
    <p>Jeśli posiadasz już konto <a href="{% url 'login_view' %}">Zaloguj się</a></p>
  </div>
{% endblock %}
