<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">NoteKeeper |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <!-- Dont delete that ul It keep buttons on the right side -->
      {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'dashboard' %}">Twój panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'user_profile' %}">Ustawienia</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav mr-auto"></ul>
      {% endif %}
      <form class="form-inline my-2 my-md-0">
        {% if not request.user.is_authenticated %}
          <a href="{% url 'register' %}" class="btn btn-info my-2 mr-3 ">Zarejestruj się</a>
          <a href="{% url 'login_view' %}" class="btn btn-success my-2 mr-3 ">Zaloguj się</a>
          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary my-2">Facebook</a>
        {% else %}
          <p class="text-light px-4 my-2">
            Zalogowano jako <span class="font-weight-bold">{{ user.username }}</span>
          </p>
          <a href="{% url 'logout_view' %}" class="btn btn-danger my-2 mr-3 ">Wyloguj się</a>
        {% endif %}
        <!-- <input class="form-control" type="text" placeholder="Search"> -->
      </form>
    </div>
  </div>
</nav>