{% extends 'base.html' %}
{% block content %}
  <header class="jumbotron text-center" id="header-bg">
    <div class="container">
      <h1 class="jumbotron-heading">Notekeeper</h1>
      <h3 class="jumbotron-heading font-weight-normal mt-3 ">Wszystkie notatki w jednym miejscu</h3>
      <p class="lead text-light mt-4">Dodawaj, usuwaj, nadawaj tagi i dziel się swoimi notatkami.</p>
      {% if not request.user.is_authenticated %}
        <p>
          <a href="{% url 'register' %}" class="btn btn-info my-2 mr-3 btn-lg">Zarejestruj się</a>
          <a href="{% url 'login_view' %}" class="btn btn-success my-2 btn-lg">Zaloguj się</a>
        </p>
        <p>
          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-lg btn-primary my-2 mr-3">Facebook</a>
        </p>
      {% else %}
        <p>
          <a href="{% url 'dashboard' %}" class="btn btn-lg my-2 btn-info" >Twój profil</a>
        </p>
      {% endif %}
    </div>
  </header>
  <div class="container marketing mt-4">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Twórz</h2>
        <p class="lead font-weight-normal">Twórz nowe notatki dzięki którym o niczym już nie zapomnisz. Zapisuj wszystko co chcesz i kiedy chcesz.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Edytuj</h2>
        <p class="lead font-weight-normal">Literówka, zmiana planów ? Nic strasznego możesz edytować notatkę z każdego urządzenia podłączonego do internetu.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Udostępniaj</h2>
        <p class="lead font-weight-normal">Udostępniaj swoje notatki znajomym lub swojemu zespołowi. Podnoś produktywność i łatwość komunikacji.</p>
      </div><!-- /.col-lg-4 -->
    </div>
{% endblock %}